@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 348deg 25% 61%;
    --color-secondary: 240deg 11% 40%;
    --color-bg: 22deg 100% 98%;
    --color-text: 30deg 4% 21%;
    --color-text-alt: 215deg 16% 47%;
    --color-accent: 33deg 17% 87%;
  }
  :root[data-theme="dark"] {
    --color-primary: 348deg 25% 48%;
    --color-secondary: 240deg 11% 53%;
    --color-bg: 30deg 4% 21%;
    --color-text: 22deg 100%, 98%;
    --color-text-alt: 215deg 20% 65%;
    --color-accent: 109deg 16% 87%;
  }
}
